
@{
    ViewBag.Title = "Предупреждение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Предупреждение</h4>
    <p>Данного пользователя нельзя удалить, удалите все связанные с ним объекты, или проверьте передаваемые параметры.</p>
</div>

