
@{
    ViewBag.Title = "Спасибо за регистрацию";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Спасибо за регистрацию!</h4>
    <p>Для входа на сайт используйте ваш логин и пароль.</p>
</div>

