<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPromotionService" maxReceivedMessageSize="214748367"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/EC.PromotionService/PromotionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPromotionService"
                contract="MyService.IPromotionService" name="BasicHttpBinding_IPromotionService" />
        </client>
    </system.serviceModel>
</configuration>