
@{
    ViewBag.Title = "Ресурс не найден";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Что-то пошло не так</h4>
    <p>Данный ресурс не найден</p>
</div>

