@model IEnumerable<EC.Entities.Entities.Phone>

@{
    ViewBag.Title = "Редактирование контактов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" align="center">
    <div class="col-md-4">
        <h4 class="text-center text-warning" style="padding-top: 10%">Редактирование контактов</h4>

        @{Html.RenderPartial("UserPhones", Model);}

        <div class="container">
            <a class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#createPhone">Добавить телефон</a>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-outline-secondary" })
        </div>

        <br />

        @{Html.RenderPartial("CreatePhone", new EC.Entities.Entities.Phone());}
    </div>
</div>

