@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Действие запрещено</title>
    @Styles.Render("~/Content/styles")
</head>
<body>
<div class="col-md-12 row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 alert alert-warning" role="alert">
        <h4 class="alert-heading">Что-то пошло не так</h4>
        <p>У вас нет доступа к ресурсу</p>
    </div>
    <div class="col-md-4">

    </div>
</div>
</body>
</html>

